<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to current_user.following.count, following_user_path(current_user) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to current_user.followers.count, followers_user_path(current_user) %></th>
  </tr>
  </table>
    <div>
      <% if current_user != user %>  
        <% if current_user.following?(@user) %>
          <%= button_to "フォロー外す", unfollow_user_path(@user), method: :delete, class: 'btn btn-info'%>
        <% else %>
          <%= button_to "フォローする", follow_user_path(@user), method: :post, class: 'btn btn-success'%>
        <% end %>
      <% end %>
    </div>

<% if current_user == user %>
  <div class='row'>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
<% end %>